.cardInfo label {
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
    font-weight: bold;
}

.cardInfo {
    margin-top: 3rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}