.buttonWrapperSchedule {
    background-color: #ebebeb;
    color: black; 
    border: none;      
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 35px; 
    padding-right: 35px;
    text-align: center;   
    text-decoration: none;   
    display: inline-block;   
    font-size: 16px;   
    border-radius: 20px;
}

.prevButton {
    margin-left: 16px;
}

.nextButton {
    float: right;
}