.cardContainer {
    margin-top: 3rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttonWrapperInfo {
    background-color: #ebebeb;
    color: black; 
    border: none;      
    padding-top: 15px; 
    padding-bottom: 15px;
    padding-left: 30px; 
    padding-right: 30px;
    text-align: center;   
    text-decoration: none;   
    display: inline-block;   
    font-size: 16px;   
    border-radius: 20px;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.buttonWrapperInfo:hover {
    transition: 0.5s ease;
    background-color: black;
    color: white;
    cursor: pointer;
}

.buttonWrapperInfo:not(:hover) {
    transition: 0.5s ease;
    background-color: #ebebeb;
    color: black;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
}