.forbiddenContent {
    position:absolute;
    top:35%;
    left:20%;
    z-index:1;
}

.ant-layout-content {
    position:relative; 
}

.name401 {
    color: black;
    font-size: 80px;
    font-weight: bold;
}

.smallParagraph401 {
    color: black;
    font-size: 20px;
    padding-bottom: 1rem;
}

.btnWrapper401 {
    background-color: white;
    color: black; 
    border: none;      
    padding-top: 20px; 
    padding-bottom: 20px;
    padding-left: 35px; 
    padding-right: 35px;
    text-align: center;   
    text-decoration: none;   
    display: inline-block;   
    font-size: 16px;   
    border-radius: 20px;
}

.btnWrapper401:hover {
    transition: 0.5s ease;
    background-color: #ebebeb;
    cursor: pointer;
}

.btnWrapper401:not(:hover) {
    transition: 0.5s ease;
    background-color: white;
}